##################################################################################################################
# TEST CONFIG FILE
##################################################################################################################
# config file
# name = value							# '=' name 변수에 value 값 입력
# name = "this is" 'string'				# string = "", ''로 표시
#										# 개행문자 혹은 comment까지 값으로 인식
# 특수 문자  \a \b \f \n \r \t \v \\ \' \" \? \$ \xHEX \0OCT \DEC \BBIT
# $ - 변수에 저장된 값을 가져온다. ( 1 환경변수,  2 cfg내 선언변수, 3 현재 section 선언변수)
###################################################################################################################
# name1		= value										# comment
# name2		= "this is string"	' continue'				# "string" 'string'
# name3		= "특수문자 \B110010 \x00000032 \062 \50" 	# comment
# name4		= "환경변수 $HOME $name3"					# $환경변수, $변수
# section												# section 
# {
#	s_m1	= sv1 
#	s2		{m1=v1 s3{m2=v2}}							# deep section
# }
# [win_section]											# win section
# win_name1	= win_value1
# Cfg_GetInt string - H(hex) B(bit) O(octal) none(decimal) - ex) Hcdc10001 B000100101 O0231271 0123
###################################################################################################################
pwd				= "."
cfg_path		= "./main.cfg"
log_name		= "./main.log"
log_flag		= 0											# 1 - file 0 - console
map_name		= "./main.map"								# open map name
interval		= 100										# main loop sleep time - micro second(s)
timeout			= 10000000									# recv wait time - micro second(s)

SharedMemoryQueue
{
	"exe:Hfa011001:"
}


