##################################################################################################################
# PROCESS CONFIG FILE
##################################################################################################################
# config file
# name = value							# '=' name 변수에 value 값 입력
# name = "this is" 'string'				# string = "", ''로 표시
#										# 개행문자 혹은 comment까지 값으로 인식
# 특수 문자  \a \b \f \n \r \t \v \\ \' \" \? \$ \xHEX \0OCT \DEC \BBIT
# $ - 변수에 저장된 값을 가져온다. ( 1 환경변수,  2 cfg내 선언변수, 3 현재 section 선언변수)
###################################################################################################################
# name1		= value										# comment
# name2		= "this is string"	' continue'				# "string" 'string'
# name3		= "특수문자 \B110010 \x00000032 \062 \50" 	# comment
# name4		= "환경변수 $HOME $name3"					# $환경변수, $변수
# section												# section 
# {
#	s_m1	= sv1 
#	s2		{m1=v1 s3{m2=v2}}							# deep section
# }
# [win_section]											# win section
# win_name1	= win_value1
# Cfg_GetInt string - H(hex) B(bit) O(octal) none(decimal) - ex) Hcdc10001 B000100101 O0231271 0123
###################################################################################################################
pwd				= "$MAT_BIN"
key				= Hfa003001
version			= "PROC FILE TABLE V1.1-20231017"
log_path		= "$MAT_LOG"
cfg_path		= "$MAT_CFG"
swp_path		= "$MAT_DAT/swp"
stdout_file		= "$MAT_LOG/proc_stdout.log"				# child process stdout/stderr
holiday_file	= "$MAT_CFG/holiday.cfg"					# holiday file ... create by mat_bat
daily_name		= "clear"									# daily clear process name id
interval		= 1000000									# daemon process check 간격 - micro second 
mon_interval	= 1000000									# mon usleep time
log_file_name	= "$log_path/proc_d.log"					# YYYYMMDDhhmmss $log_path/proc_d.YYYYMMDD.log
swap_log_name	= "$log_path/proc_swap.log"
swap_file_path	= "$swp_path"								# process table swap file
swap_file_name	= "process.swp"
map_file_name	= "$cfg_path/process.cfg"					# mon - map_file_name
load_config		= 1											# 실시간 config load 여부 1:load 0:not load - 필요할때만 1로 세팅 추천

process_table												# section 
{
#    id               u max start  end    week     path       name                       daemon/batch
#    (trim)           s run time   time   smtwtfsh (trim)     +argument                  d:1 b:0
#                     e cnt               uouehrao
#                     d     HHMMSS HHMMSS nneduitl
# 시스템
	"clear           :1: 99:055800:060000:11111111:$pwd       :proc_d -j                 :0"

# 배치
#	"batch	         :1: 99:070500:073500:01111101:$pwd/shl   :batch_bok_fs.sh           :0"

# 데몬
	"log	         :1: 99:000510:000500:11111111:$pwd       :log_d                     :1"

# 매칭시스템
	"mat_bat		 :1: 99:050000:045900:11111111:$pwd       :mat_bat                   :1"
	"mat_rcv		 :1: 99:080000:040000:01111100:$pwd       :mat_rcv                   :1"
	"mat_ord		 :1: 99:080000:040000:01111100:$pwd       :mat_ord                   :1"
	"mat_mat		 :1: 99:080000:040000:01111100:$pwd       :mat_mat                   :1"
	"mat_exe		 :1: 99:080000:040000:01111100:$pwd       :mat_exe                   :1"
	"mat_snd		 :1: 99:080000:040000:01111100:$pwd       :mat_snd                   :1"
	"mat_sis		 :1: 99:080000:040000:01111100:$pwd       :mat_sis                   :1"

	"mat_ma1		 :1: 99:080000:040000:01111100:$pwd       :mat_mat                   :1"
	"mat_ma2		 :1: 99:080000:040000:01111100:$pwd       :mat_mat                   :1"
	"mat_ma3		 :0: 99:080000:040000:01111100:$pwd       :mat_mat                   :1"
	"mat_ma4		 :0: 99:080000:040000:01111100:$pwd       :mat_mat                   :1"

	"mat_ex1		 :1: 99:080000:040000:01111100:$pwd       :mat_exe                   :1"
	"mat_ex2		 :1: 99:080000:040000:01111100:$pwd       :mat_exe                   :1"
	"mat_ex3		 :0: 99:080000:040000:01111100:$pwd       :mat_exe                   :1"

# EBS CME fix recv system
#	"fix_BOC		 :1: 99:065950:055000:01111101:$pwd/bin   :fix_recv -i FIXEBS_BOC    :1"

# psf system
#	"psf_p_M_BLB_FS2 :1: 99:070500:020500:01111101:$pwd/bin   :psf_proc -i M_BLB_FS2  :1"
}

holiday
{
#	"YYYYMMDD"			- 날짜 순으로 등록!!! - 아님 매번 sort함
#   일요일이 공휴일인경우 등록하지 말것.... 일요일 작업인 경우 일요일이 공휴일로 등록 되면 실행 안됨!!!
	"20230121"			# 설날
	"20230123"
	"20230124"			# 설날 대체 공휴일
	"20230301"			# 삼일절
	"20230505"			# 어린이날
	"20230527"			# 부처님 오신날
	"20230606"			# 현충일
	"20230815"			# 광복절
	"20230928"			# 추석
	"20230929"
	"20230930"
	"20231003"			# 개천절
	"20231009"			# 한글날
	"20231225"			# 크리스마스
	"20240101"			# 신년
	"20240209"			# 설날 연휴
	"20240212"			# 설날 대체공휴일
	"20240301"			# 삼일절
	"20240410"			# 선거일
	"20240506"			# 어린이날 대체공휴일
	"20240515"			# 부처님 오신날
	"20240606"			# 현충일
	"20240815"			# 광복절
	"20240916"			# 추석
	"20240917"
	"20240918"
	"20241003"			# 개천절
	"20241009"			# 한글날
	"20241225"			# 크리스마스
}


##################################################################################################################
# TEST CONFIG FILE
##################################################################################################################
# config file
# name = value							# '=' name 변수에 value 값 입력
# name = "this is" 'string'				# string = "", ''로 표시
#										# 개행문자 혹은 comment까지 값으로 인식
# 특수 문자  \a \b \f \n \r \t \v \\ \' \" \? \$ \xHEX \0OCT \DEC \BBIT
# $ - 변수에 저장된 값을 가져온다. ( 1 환경변수,  2 cfg내 선언변수, 3 현재 section 선언변수)
###################################################################################################################
# name1		= value										# comment
# name2		= "this is string"	' continue'				# "string" 'string'
# name3		= "특수문자 \B110010 \x00000032 \062 \50" 	# comment
# name4		= "환경변수 $HOME $name3"					# $환경변수, $변수
# section												# section 
# {
#	s_m1	= sv1 
#	s2		{m1=v1 s3{m2=v2}}							# deep section
# }
# [win_section]											# win section
# win_name1	= win_value1
###################################################################################################################
map
{
	win_size	= 0, 0, 130, 30							# x, y, size_x, size_y
	timeout		= 1000000								# interval
}

screen
{
"                                                                                                                                  "
"+--------------------------------------------------------------------------------------------------------------------------------+"
"|                                                                                                                                |"
"+--------------------------------------------------------------------------------------------------------------------------------+"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"|                                                                                                                                |"
"+--------------------------------------------------------------------------------------------------------------------------------+"
}

###################################################################################################################
# 각 필드는 strtok로 불러오기 때문에 데이타가 없는 필드라도 
#  구분자(:) 사이에 스페이스(' ')나 도트('.')가 꼭 있어야 한다.
# field number
# field name
# x position
# y position
# view size
# data size : malloc 되는 size
# attribute 
#		    unsigned char   blink:2; 
#		    unsigned char   crossed:1;
#		    unsigned char   conceal:1;
#		    unsigned char   underline:1;
#		    unsigned char   italic:1;
#		    unsigned char   bold:1;
#		    unsigned char   reverse:1;
#		    unsigned char   :8;
#		    unsigned char   :8;
#		    unsigned char   fore:4;          
#		    unsigned char   back:4;
#           	color - fore, back
#					WIN_ATTR_BLACK              0x0    전체 attr field가 0이면 default color 적용(black 적용 안됨)
#					WIN_ATTR_RED                0x1
#					WIN_ATTR_GREEN              0x2
#					WIN_ATTR_YELLO              0x3
#					WIN_ATTR_BLUE               0x4
#					WIN_ATTR_MAGENTA            0x5
#					WIN_ATTR_CYAN               0x6
#					WIN_ATTR_WHITE              0x7
#					WIN_ATTR_BRIGHT             0x8
# type : field type
#			    unsigned char           byte4:8;
#			    unsigned char           byte3:8;
#			    unsigned char           map:1;		/* only display at Map_DisplayMap */
#			    unsigned char           byte2:7;
#			    unsigned char           type:4;		/* 0:char 1:int 2:float 3:long 4:long long */
#			    unsigned char           pointer:1;
#			    unsigned char           compare:1;
#			    unsigned char           byte1:2;
# format : data를 표시하기위한 printf 포맷
# filler : 모양 맞추기 위한 field ...
# initial data
#
#
#	"base	:name		:pos_x	:pos_y	:"  - base 아래 필드의 상대 x,y 위치를 세팅: x + pos_x, y + pos_y
#
#	"line	:start		:s_y	:e_y	:"  - 라인 반복 시작 - s_y(start y),e_y(end y) name=name_y
#	"line	:end		:		:		:"  - 라인 반복 끝   
#
#
###################################################################################################################
field
{
# title bar
#    no      name        x   y   vsz sz  attr     type   i          format  data
#                                              u
#                                              n
#                                           r  dcc       cp
#                                          be ieord   s  oo
#                                          rv trnoeb  ei mi
#                                        fbiebalcsll mln pnt
#                                        oagroliosei eepmaty
#                                        rchslinaetn ncuarep
#                                        ektedceldek uttpere
#	line 1
#    no 	 name        x   y   vsz sz  attr       type       format		data
	"base	:name		:0	:0	:"
	"00		:name		:3	:1	:25	:60	:60100000000:0001000:%s:			:  PROCESS STATUS MONITOR  :"
	"00		:name		:94	:1	:10	:10	:70000000000:0010000:%s:			:alarm[   ]:"
	"11		:alarm		:100:1	:3	:3	:70000000000:0000000:%s:			:1:"
	"00		:name		:107:1	:14	:20	:70000000000:0010000:%s:			:time[        ]:"
	"16		:time		:112:1	:8	:10	:70000000000:0000000:%s:			: :"
#	line 3
#    no 	 name        x   y   vsz sz  attr       type       format			data
	"base	:name		:0	:3	:"
	"00		:version	:3	:0	:30	:20	:70000000000:0010000:%s:			: :"
	"00		:create		:35	:0	:27	:30	:70000000000:0010000:create[%s]:	: :"
	"00		:tblcnt		:65	:0	:8	:10	:70000000000:0000011:tbl[%3d]:		: :"
	"00		:week_pos	:76	:0	:7	:10	:70000000000:0000011:week[%1d]:		: :"
#	proc daemon 
#    no 	 ====        x   y   vsz sz  attr       type       format	data
	"base	:name		:0	:5	:"
	"00		:id			:3	:0	:15	:15	:70000000000:0000010:%-s:		: :"
	"00		:pid		:54	:0	:8	:10	:70000000000:0000011:%8d:		: :"
	"00		:srtime		:63	:0	:8	:10	:70000000000:0000000:%s:		: :"
	"00		:ertime		:72	:0	:8	:10	:70000000000:0000000:%s:		: :"
	"00		:r_name		:81	:0	:30	:90	:70000000000:0000010:%.55s:		: :"
#	Record 1
#	제목
#    no 	 ====        x   y   vsz sz  attr       type       format	data
	"base	:name		:0	:6	:"
	"00		:name		:2	:0	:18	:15	:80010000000:0010000: %-17s:	:id:"
	"00		:name		:20	:0	:2	:6	:80010000000:0010000:%-2s:		:c:"
	"00		:name		:22	:0	:2	:6	:80010000000:0010000:%-2s:		:r:"
	"00		:name		:23	:0	:2	:6	:80010000000:0010000:%-2s:		:s:"
	"00		:name		:25	:0	:5	:6	:80010000000:0010000:%-5s:		:stat:"
	"00		:name		:30	:0	:4	:10	:80010000000:0010000:%-4s:		:run:"
	"00		:name		:34	:0	:4	:10	:80010000000:0010000:%-4s:		:max:"
	"00		:name		:38	:0	:2	:15	:80010000000:0010000:%-2s:		:o:"
	"00		:name		:40	:0	:7	:10	:80010000000:0010000:%-7s:		:start:"
	"00		:name		:47	:0	:7	:10	:80010000000:0010000:%-7s:		:end:"
	"00		:name		:54	:0	:9	:10	:80010000000:0010000:%-6s: 		: pid :"
	"00		:name		:63	:0	:9	:10	:80010000000:0010000:%-9s:		:run-time:"
	"00		:name		:72	:0	:9	:10	:80010000000:0010000:%-9s:		:end-time:"
	"00		:name		:81	:0	:49	:60	:80010000000:0010000:%-55s:		:name:"
#	Record 0
#    no 	 ====        x   y   vsz sz  attr       type       format	data
	"base	:name		:0	:6	:"
	"line	:start		:1	:37	:1:"
	"101	:id			:3	:0	:16	:15	:70000000000:1000010:%-s:		: :"
	"102	:cmd		:20	:0	:1	:30	:70000000000:0000011:%d:		: :"
	"103	:c_r		:22	:0	:1	:30	:70000000000:1000000:%s:		:.:"
	"104	:c_s		:23	:0	:1	:30	:70000000000:1000000:%s:		:.:"
	"105	:stat		:25	:0	:4	:30	:70000000000:0000000:%s:		: :"
	"106	:run		:30	:0	:3	:30	:70000000000:0000011:%3d:		: :"
	"107	:max		:34	:0	:3	:30	:70000000000:0000011:%3d:		: :"
	"108	:option		:38	:0	:1	:30	:70000000000:0000011:%d:		: :"
	"109	:stime		:40	:0	:6	:30	:70000000000:0000011:%06d:		: :"
	"110	:etime		:47	:0	:6	:30	:70000000000:0000011:%06d:		: :"
	"111	:pid		:54	:0	:8	:30	:70000000000:0000011:%8d:		: :"
	"112	:srtime		:63	:0	:8	:30	:70000000000:0000000:%s:		: :"
	"113	:ertime		:72	:0	:8	:30	:70000000000:0000000:%s:		: :"
	"114	:r_name		:81	:0	:30	:90	:70000000000:0000010:%-55.55s:	: :"
	"line	:end		:	:	:"
#	Record 1
}



























