# Configuration EBS exchange
# Do not change port seqn. Master must be seqn 1.
<config>
	<xchg  name='EBS' code='E' exid='23' type='Future' cust='Y' description="EBS Price" />
	<recv  name='EBS.MAST_' ipad='127.0.0.1'  port='30423' desc='EBS.MAST_' thread_ma='1' thread_ap='0' thread_db='0' />
	<data  maxcnt='100' path='/fsfxwin/mds/dat' months-offset='0' />
	<time  TZ='Japan' wday='Sun-Fri' hour24='yes' /> 
	<log   level='warning' path='/fsfxwin/mds/log/EBS-' />
	<notify cast='yes' neta='127.0.0.1' ipad='227.10.20.30' port='30023' qname='SISEDQ_1' />
</config>

