# <log   level='warning' path='/fsfxwin/mds/log/JPM-' />
<config>
	<xchg  name='JPM' code='J' exid='25' type='Future' cust='Y' description="JPM Price" />
	<recv  name='JPM.MAST_' ipad='127.0.0.1'  port='30500' desc='JPM.MAST_' thread_ma='1' thread_ap='1' thread_db='1' />
	<data  maxcnt='100' path='/fsfxwin/mds/dat' months-offset='0' />
	<time  TZ='Japan' wday='Sun-Fri' hour24='yes' /> 
	<log   level='warning' path='/fsfxwin/mds/log/JPM-' />
	<notify cast='yes' neta='127.0.0.1' ipad='227.10.20.30' port='30025' qname='SISEDQ_1' />
</config>
